branches:
  only:
  - master
language: node_js
node_js:
- 12
cache:
  yarn: true
sudo: false
os:
- linux
before_script:
- yarn
script:
- yarn lint
- yarn test
before_deploy:
- yarn build:ci
deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: XKXbdITtsH5a6SL5yOyztsjlK7rIgWuJmMsMv7P0z5awHRwvr+JJDz+FD3fCYS2TRwqm3ftG8SEvc3rw5965FOaX6fKg72RKH6H1cCRrN5jT7ksDMkQJaRrqppTr3d2Lch3UTAVUiODWVF55Co4nCCeIr6cDWpTlq5M80eR30oBguJHZA3nv4O6OybcnzJ7eHt89+GQFgEGSeTjK1RXvR4zAIjNiKr9gJWJiAU1o+xBDe5C5Wt2RBGfntHMyNHuSRBIlYuUP220CR/esyHWYRP7TRb1JxifgjKsomWjIQYVYAZ8OQeGPCDSGUk+qGbU9Hw8fBNeUHF423GT/VbGLdKG1kZFr5v1NgWfr2lPS1XXZH5ti9AGuP+fMCF12lveLbtK9GSmSldQ/DaN+hvbeWUq7aM5Dhw1fQnhZk0mtA2v4wS0bpv4s9Gs4O4cygbOL8RWUlvZU0yJwvAlRItJIJWj9bP+boSadQ0lkNzlnoQB1o/k3FKPBRnBMZlO3trlgBKQ/UiyvgNsF8tQ07wo+b/NxDgGn4VQfQMLfZEt7iTlrVlchdjMJAOK2PNO9UU7NUt9omxUG9oiIT8xdvZrL4eE8n+CgpPL0R14pEM5QulhAN0eF5zG+aS+a7YyhiNzvO0R3BxlrsIYhAtzqyRDiTzBuIg6oFixcIQvMWJmKMZg=
  project: js-rocks
