:host {
  display: inline-block;
  font-weight: 700;
  text-align: center;
  touch-action: pan-x pan-y;

  &[light] {
    color: white;
  }

  &[small] {
    label {
      font-size: 13px;
    }

    .knob {
      height: 38px;
      width: 38px;
      left: -19px;
      top: 0;

      &:before {
        width: 2px;
        margin-left: -1px;
      }

      &:after {
        width: 24px;
        height: 24px;
        left: 7px;
        top: 7px;
      }
    }

    .center-dot {
      display: none;
    }

    &[dots] {
      .dot {
        &:before,
        &:after {
          width: 6px;
          height: 6px;
          top: 34px;
        }

        &:before {
          left: -1px;
        }

        &:after {
          right: -1px;
        }
      }
    }
  }

  &[dots] {
    .dot {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      &:before,
      &:after {
        content: '';
        top: 51px;
      }

      &:before {
        left: -4px;
      }

      &:after {
        right: -4px;
      }
    }

    .dot:before,
    .dot:after,
    .center-dot {
        width: 8px;
        height: 8px;
        position: absolute;
        border-radius: 50%;
        background-color: var(--stompbox-label);
      }

    .center-dot {
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &[ticks] {
    .dot {
      position: absolute;
      top: -8px;
      right: -8px;
      left: -8px;
      bottom: -8px;
      border-radius: 50%;
      background: repeating-conic-gradient(var(--stompbox-label) 0 2deg, transparent 0 15deg);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 70%, 0% 100%);
      z-index: -1;
    }
  }

  input {
    &:focus + .knob {
      .knob-focus {
        box-shadow: 0 0 6px #f44336;
      }
    }
  }

  label {
    color: var(--stompbox-label);
    font-size: 16px;
    font-weight: 500;
  }

  .knob {
    position: relative;
    background: #222;
    height: 56px;
    width: 56px;
    left: -28px;
    top: 2px;
    margin: 0 auto 8px;
    transform: translateX(50%);
    border-radius: 50%;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, .5);
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
    }

    &:before {
      width: 3px;
      height: 50%;
      transform-origin: bottom;
      transform: rotate(var(--knob-angle, 0deg));
      transition: transform .1s linear;
      top: 0;
      left: 50%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      margin-left: -1.5px;
      background: #fff;
    }

    &:after {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      left: 10px;
      top: 10px;
      background: #999;
      background-image: radial-gradient(8% 50% at 50% 0%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), radial-gradient(12% 50% at 50% 100%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%), radial-gradient(50% 7% at 0% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), radial-gradient(50% 5% at 100% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), repeating-radial-gradient(100% 100% at 50% 50%, hsla(0,0%, 0%,0) 0%, hsla(0,0%, 0%,0) 3%, hsla(0,0%, 0%,.1) 3.5%), repeating-radial-gradient(100% 100% at 50% 50%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 6%, hsla(0,0%,100%,.1) 7.5%), repeating-radial-gradient( 100% 100% at 50% 50%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%), radial-gradient(200% 50% at 50% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
    }
  }

  .knob-focus {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
  }
}
