<jsr-stompbox #drag cdkDrag cdkDragRootElement=".pedal">
  <div class="pedal-layout">
    <div class="controls">
      <p class="led-label">check</p>
      <jsr-led [active]="effect.active$ | async"></jsr-led>
      <jsr-knob
        dots
        silver
        class="level"
        label="LEVEL"
        [value]="effect.level$ | async"
        (valueChanged)="effect.level = $event"></jsr-knob>
      <jsr-knob
        dots
        silver
        class="dist"
        label="DRIVE"
        [value]="effect.distortion$ | async"
        (valueChanged)="effect.distortion = $event"></jsr-knob>
      <jsr-knob
        silver
        small
        class="tone"
        label="TONE"
        labelPosition="top"
        [value]="effect.tone$ | async"
        (valueChanged)="effect.tone = $event"></jsr-knob>
    </div>

    <jsr-large-switch
      center
      xl-label
      class="switch"
      name="OverDrive"
      [model]="effect.model"
      (switch)="effect.toggleBypass()"></jsr-large-switch>
  </div>

  <button
    type="button"
    aria-label="Remove effect"
    class="remove"
    mat-mini-fab
    color="warn"
    (click)="remove.emit()">
    <mat-icon>&#xe872;</mat-icon>
  </button>
  <div *cdkDragPlaceholder></div>
</jsr-stompbox>
