:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 'button cabinet'
                       'sidebar pedalboard';

  .line-toggle {
    grid-area: button;
    margin: 24px;
  }

  jsr-amp {
    grid-area: cabinet;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .pedal-board {
    grid-area: pedalboard;
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 0;
  }

  .pedal-placeholder {
    width: 200px;
    height: 326px;
    background-color: rgba(#69f0ae, .5);
    border: 1px solid #69f0ae;
    border-radius: .5em;
  }
}
