<button
  class="line-toggle"
  mat-fab
  [color]="isLinePlugged ? 'accent' : 'warn'"
  (click)="toggleLineConnection()">
  <mat-icon aria-label="Connect line source">settings_input_svideo</mat-icon>
</button>

<jsr-amp></jsr-amp>

<aside class="sidebar"></aside>

<section
    class="pedal-board"
    cdkDropList
    cdkDropListLockAxis="x"
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropPedal($event)">
  <ng-template jsrPedalBoard></ng-template>
  <!-- <jsr-ds-one class="pedal" cdkDrag>
    <div class="pedal-placeholder" *cdkDragPlaceholder></div>
  </jsr-ds-one> -->
</section>
