:host {
  display: grid;
  position: relative;

  .line-toggle {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .add-button {
    margin: 0 auto 16px;
  }

  .empty-board-message {
    color: rgba(#fff, 0.8);
    text-align: center;
    padding: 0 16px;
  }

  ngx-loadable {
    display: contents;
  }
}
