<jsr-page-actions>
  <mat-menu #appMenu="matMenu">
    <button type="button" mat-menu-item (click)="blankPreset()">
      <mat-icon
        [svgIcon]="
          selectedPresetId === ''
            ? 'radio_button_checked'
            : 'radio_button_unchecked'
        "
      ></mat-icon>
      <span>Default</span>
    </button>
    <button
      type="button"
      mat-menu-item
      *ngFor="let preset of presets"
      (click)="activatePreset(preset.id)"
    >
      <mat-icon
        [svgIcon]="
          selectedPresetId === preset.id
            ? 'radio_button_checked'
            : 'radio_button_unchecked'
        "
      ></mat-icon>
      <span>{{ preset.name }}</span>
    </button>
  </mat-menu>

  <button
    type="button"
    aria-label="Presets"
    mat-icon-button
    matTooltip="Presets"
    [matMenuTriggerFor]="appMenu"
  >
    <mat-icon
      [matBadge]="presets.length | number"
      matBadgeColor="accent"
      matBadgePosition="above before"
      [matBadgeHidden]="!presets.length"
      svgIcon="list"
    ></mat-icon>
  </button>

  <button
    type="button"
    aria-label="New preset"
    class="toolbar-btn"
    mat-icon-button
    matTooltip="New preset"
    (click)="blankPreset()"
  >
    <mat-icon svgIcon="blank"></mat-icon>
  </button>

  <button
    type="button"
    aria-label="Save preset"
    class="toolbar-btn"
    mat-icon-button
    matTooltip="Save preset"
    (click)="requestSavePreset()"
  >
    <mat-icon svgIcon="save"></mat-icon>
  </button>

  <!-- Additional wrapper to solve Ivy issue with portal and ngIf. -->
  <span>
    <button
      *ngIf="selectedPresetId"
      type="button"
      aria-label="Delete preset"
      class="toolbar-btn"
      mat-icon-button
      matTooltip="Delete preset"
      (click)="deletePreset()"
    >
      <mat-icon svgIcon="delete"></mat-icon>
    </button>
  </span>
</jsr-page-actions>

<button
  type="button"
  [attr.aria-label]="
    isLinePlugged ? 'Disconnect instrument' : 'Connect instrument'
  "
  [attr.aria-pressed]="isLinePlugged"
  class="line-toggle"
  mat-fab
  [matTooltip]="isLinePlugged ? 'Disconnect instrument' : 'Connect instrument'"
  [color]="isLinePlugged ? 'accent' : 'warn'"
  (click)="toggleLineConnection()"
>
  <mat-icon svgIcon="settings_input_svideo"></mat-icon>
</button>

<jsr-amp [config]="config.cabinet"></jsr-amp>

<mat-menu #pedalBoardMenu="matMenu">
  <button
    type="button"
    mat-menu-item
    *ngFor="let pedal of availablePedals"
    (click)="addPedal(pedal.id)"
  >
    {{ pedal.brand }} {{ pedal.name }} {{ pedal.model }}
  </button>
</mat-menu>

<button
  type="button"
  class="add-button"
  mat-flat-button
  color="accent"
  [matMenuTriggerFor]="pedalBoardMenu"
>
  <mat-icon svgIcon="add"></mat-icon> Add effect
</button>

<div
  #dropList
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="dropPedal($event)"
>
  <ngx-loadable
    *ngFor="let pedal of config?.pedals"
    [module]="pedal.model"
    [show]="true"
    (init)="initPedal($event, pedal.params, pedal.model)"
  ></ngx-loadable>
</div>

<p *ngIf="!config?.pedals?.length" class="empty-board-message mat-subheading-2">
  No effects in you pedalboard :(<br />
  Use "Add effect" button to pick one.
</p>
