:host {
  --stompbox-bg: #eef0e5;
  --stompbox-label: #f02d02;
  display: block;

  .pedal-layout {
    display: grid;
    grid-template-areas: 'controls' 'switch';
    grid-template-rows: 1fr 65%;
    height: 100%;
  }

  .controls {
    display: grid;
    grid-template-areas: '.     led label';
    text-align: center;
    padding: 0 6px;
  }

  .led-label {
    grid-area: label;
    text-transform: uppercase;
    font-size: 9px;
    margin: 3px 0 0;
  }

  jsr-led {
    grid-area: led;
    justify-self: center;
  }

  .switch {
    grid-area: switch;
  }
}
