:host {
  main {
    max-width: 1240px;
    position: relative;

    @media screen and (min-width: 1240px) {
      margin: 0 auto;
    }
  }

  .title {
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
