:host {
  display: grid;
  grid-auto-rows: auto 1fr;
  min-height: 100%;

  mat-drawer {
    min-width: 240px;
  }

  main {
    max-width: 1240px;

    @media screen and (min-width: 1240px) {
      margin: 0 auto;
    }
  }

  .title {
    font-family: 'Audiowide', sans-serif;
    font-weight: 400;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
