<h1 mat-dialog-title>New preset</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Name</mat-label>
    <input
      matInput
      cdkFocusInitial
      autocomplete="off"
      [(ngModel)]="data.name"
    />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button type="reset" mat-raised-button color="warn" (click)="onCancel()">
    Cancel
  </button>
  <button mat-raised-button color="accent" [mat-dialog-close]="data.name">
    Save
  </button>
</div>
