<div class="plate">
  <div class="inputs">
    <h2 class="model">{{effect.model}}</h2>

    <button
      type="button"
      mat-icon-button
      matTooltip="Select cabinet model"
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        type="button"
        mat-menu-item
        *ngFor="let cabinet of cabinets"
        (click)="selectCabinet(cabinet)">
        <mat-icon>
          {{selectedModel === cabinet ? 'radio_button_checked' : 'radio_button_unchecked'}}
        </mat-icon>
        <span>{{cabinet.model}}</span>
      </button>
    </mat-menu>
  </div>

  <jsr-knob
    dots
    class="master"
    label="VOLUME"
    [value]="masterVolume$ | async"
    (valueChanged)="updateMasterVolume($event)">
  </jsr-knob>

  <section class="eq">
    <jsr-knob
      dots
      class="bass"
      label="BASS"
      [value]="effect.bass$ | async"
      (valueChanged)="effect.bass = $event">
    </jsr-knob>

    <jsr-knob
      dots
      class="mid"
      label="MID"
      [value]="effect.mid$ | async"
      (valueChanged)="effect.mid = $event">
    </jsr-knob>

    <jsr-knob
      dots
      class="treble"
      label="TREBLE"
      [value]="effect.mid$ | async"
      (valueChanged)="effect.mid = $event">
    </jsr-knob>
  </section>

  <div class="switch">
    <jsr-led [active]="effect.active$ | async"></jsr-led>
    <button
      type="button"
      class="switch-button"
      [class.active]="effect.active$ | async"
      (click)="effect.toggleBypass()">
      |
    </button>
  </div>
</div>
