:host {
  --stompbox-bg: #f46f2e;
  display: block;

  & + .pedal,
  .pedal + &,
  & + .pedal-placeholder,
  .pedal-placeholder + & {
    margin-left: 48px;
  }

  .pedal-layout {
    display: grid;
    grid-template-areas: 'controls' 'switch';
    grid-template-rows: 1fr 65%;
    height: 100%;
  }

  .controls {
    display: grid;
    grid-template-areas: '.    label    .'
                         'tone led   dist'
                         'tone .     dist'
                         'tone level dist';
    text-align: center;
    padding: 0 6px;
  }

  .led-label {
    grid-area: label;
    text-transform: uppercase;
    font-size: 9px;
    margin: 3px 0 0;
  }

  jsr-led {
    grid-area: led;
    justify-self: center;
  }

  .tone {
    grid-area: tone;
  }

  .dist {
    grid-area: dist;
  }

  .level {
    grid-area: level;
  }

  .switch {
    grid-area: switch;
  }
}
