:host {
  --stompbox-bg: #f46f2e;
  display: block;

  &:hover {
    .remove {
      transform: translate(20px, -20px);
      opacity: 1;
      z-index: 1;
    }
  }

  .remove {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity .2s linear;

    &:focus {
      transform: translate(20px, -20px);
      opacity: 1;
      z-index: 1;
    }
  }

  .pedal-layout {
    display: grid;
    grid-template-areas: 'controls' 'switch';
    grid-template-rows: 1fr 65%;
    height: 100%;
  }

  .controls {
    display: grid;
    grid-template-areas: '.    label    .'
                         'tone led   dist'
                         'tone .     dist'
                         'tone level dist';
    text-align: center;
    padding: 0 6px;
  }

  .led-label {
    grid-area: label;
    text-transform: uppercase;
    font-size: 9px;
    margin: 3px 0 0;
  }

  jsr-led {
    grid-area: led;
    justify-self: center;
  }

  .tone {
    grid-area: tone;
  }

  .dist {
    grid-area: dist;
  }

  .level {
    grid-area: level;
  }

  .switch {
    grid-area: switch;
  }
}
