<jsr-stompbox boss (remove)="remove.emit()">
  <div class="pedal-layout">
    <jsr-three-knob-layout>
      <p class="led-label">check</p>
      <jsr-led [active]="effect.active$ | async"></jsr-led>
      <jsr-knob
        dots
        silver
        label="TONE"
        [value]="effect.tone$ | async"
        (valueChanged)="effect.tone = $event"
      ></jsr-knob>
      <jsr-knob
        dots
        silver
        label="DIST"
        [value]="effect.distortion$ | async"
        (valueChanged)="effect.distortion = $event"
      ></jsr-knob>
      <jsr-knob
        small
        silver
        label="LEVEL"
        labelPosition="top"
        [value]="effect.level$ | async"
        (valueChanged)="effect.level = $event"
      ></jsr-knob>
    </jsr-three-knob-layout>

    <jsr-large-switch
      class="switch"
      [name]="info.name"
      [active]="effect.active$ | async"
      [model]="info.model"
      (switch)="effect.toggleBypass()"
    ></jsr-large-switch>
  </div>
</jsr-stompbox>
