<jsr-stompbox boss (remove)="remove.emit()">
  <div class="pedal-layout">
    <div class="controls">
      <p class="led-label">check</p>
      <jsr-led [active]="effect.active$ | async"></jsr-led>
      <jsr-knob
        dots
        silver
        small
        class="level"
        label="LEVEL"
        labelPosition="top"
        [value]="effect.level$ | async"
        (valueChanged)="effect.level = $event"
      ></jsr-knob>
      <jsr-knob
        dots
        silver
        small
        class="tone"
        label="TONE"
        labelPosition="top"
        [value]="effect.tone$ | async"
        (valueChanged)="effect.tone = $event"
      ></jsr-knob>
      <jsr-knob
        dots
        silver
        small
        units="ms"
        class="time"
        label="TIME"
        [max]="15"
        [step]="1"
        labelPosition="top"
        [value]="effect.time$ | async"
        (valueChanged)="effect.time = $event"
      ></jsr-knob>
      <jsr-slide-switch
        class="type"
        group="reverb-type"
        [options]="types"
        [value]="selectedType.value"
        (valueChanged)="switchType($event)"
      ></jsr-slide-switch>
    </div>

    <jsr-large-switch
      class="switch"
      [name]="info.name"
      [active]="effect.active$ | async"
      [model]="info.model"
      (switch)="effect.toggleBypass()"
    ></jsr-large-switch>
  </div>
</jsr-stompbox>
