@font-face {
  font-family: 'Audiowide';
  src: url('/assets/fonts/audiowide-regular.woff2') format('woff2'),
    url('/assets/fonts/audiowide-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
