@mixin metal-texture {
  background-image: -webkit-repeating-linear-gradient(top,
      hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100% ,0) 6%, hsla(0, 0%, 100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(top,
      hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 4%, rgba(255, 210, 210, .03) 4.5%),
    -webkit-repeating-linear-gradient(top,
      hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 1.2%, hsla(0, 0%, 100%, .15) 2.2%),
    linear-gradient(90deg,
      hsl(0, 0%, 78%) 0%, hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%) 100%);
}
