@font-face {
  font-family: 'Audiowide';
  src: url('assets/fonts/audiowide-regular.woff2') format('woff2'),
    url('assets/fonts/audiowide-regular.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@import '~@angular/material/theming';

:root {
  --stompbox-bg: #fff;
  --stompbox-led: #ba2424;
  --stompbox-label: #000;
}

html,
body {
  height: 100%;
  background-color: #303030;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  &:focus {
    outline: 0;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

jsr-stage .pedal,
.cdk-drag-placeholder,
.pedal-loader {
  display: inline-block;
  margin: 0 24px 24px;
}

.cdk-drag-placeholder,
.pedal-loader {
  width: 200px;
  height: 326px;
  background-color: rgba(#69f0ae, 0.5);
  border: 1px solid #69f0ae;
  border-radius: 0.5em;
}

.cdk-drag-animating {
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-dragging > * {
  pointer-events: none;
}

.cdk-drop-list-dragging .pedal:not(.cdk-drag-placeholder) {
  transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}
