<jsr-stompbox (remove)="remove.emit()">
  <div class="pedal-layout">
    <jsr-three-knob-layout>
      <jsr-led [active]="effect.active$ | async"></jsr-led>
      <jsr-knob
        small-label
        vintage
        label="SPEED"
        units="Hz"
        [min]="0.1"
        [max]="9"
        [step]="0.1"
        [value]="effect.rate$ | async"
        (valueChanged)="effect.rate = $event"
      ></jsr-knob>
      <jsr-knob
        small-label
        vintage
        label="DEPTH"
        units="%"
        [min]="0"
        [max]="100"
        [step]="0.5"
        [value]="effect.depth$ | async"
        (valueChanged)="effect.depth = $event"
      ></jsr-knob>
      <jsr-knob
        small-label
        vintage
        label="LEVEL"
        [step]="0.1"
        [value]="effect.level$ | async"
        (valueChanged)="effect.level = $event"
      ></jsr-knob>
    </jsr-three-knob-layout>
    <h3 class="brand">{{ info.brand }}</h3>
    <h3 class="name">{{ info.name }}</h3>
    <jsr-small-switch
      led-top
      class="switch"
      [active]="effect.active$ | async"
      [showLed]="false"
      (switch)="effect.toggleBypass()"
    ></jsr-small-switch>
    <div class="doctor-logo"><div class="doctor-logo__wing"></div></div>
  </div>
</jsr-stompbox>
